<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Itatech - Eventos</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Itatech - Eventos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicial</a>
            </li>
            <li class="nav-item">
			  <a class="nav-link" href="servicos.html">Serviços
				<span class="sr-only">(current)</span>
			  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobrenos.html">Sobre nós</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	

    <!-- Page Content -->
    <div class="container">
		<br>
		<img 
			src= "itatech.png" 
			width= "250"
			height= "70"
		/>
     
		<!-- Introduction Row -->
		  
		<h1 class="my-4">Serviços</h1>
		<p>Conheça melhor os nossos serviços.</p>
		
		<!-- Team Members Row -->
		<div class="row">

			<div class="col-lg-4 col-sm-6 text-center mb-4">
			  <img class="rounded-circle img-fluid d-block mx-auto" src="web.png" alt="">
			  <h3>Web</h3>
			  <p>Criação de sites e sistemas <br> Hospedagem</p>
			</div>
			<div class="col-lg-4 col-sm-6 text-center mb-4">
			  <img class="rounded-circle img-fluid d-block mx-auto" src="mobile.png" alt="">
			  <h3>Mobile</h3>
			  <p>Aplicações na palma de sua mão</p>
			</div>
			<div class="col-lg-4 col-sm-6 text-center mb-4">
			  <img class="rounded-circle img-fluid d-block mx-auto" src="desktop.png" alt="">
			  <h3>Desktop</h3>
			  <p>Aplicações personalizadas para sua organização</p>
			</div>       
		  </div>
		  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Itatech Jr. 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
